.baseballcard-container {
    border: 1px solid #D5D5D5;
    margin: 5px 0;
    cursor: pointer;
}

.baseballcard a.img-link {
    margin: 0 -5px;
    height: 25vw;
    max-height: 250px;
    min-height: 150px;
    position: relative;
}

img {
    width: 100%;
}

ll-cog {
    width: 40px;
    height: 40px;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    z-index: 10;
}
